.muDetail{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.muDetlImg{
    padding-right: 25px;
}
.muDetlImg img{
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 200px;
    border: 5px solid #5c6bc7;
    box-shadow: 0 0 12px #acb8ff;
}
.muDetlTxt h5{
    font-size: 18px;
    color: #0a1883;
}
.payBtn{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
}
.showhidePwd{
position: relative;
}

.showpass{
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.cardTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}
.viewAll{
  background-color: #404EC2;
  font-size: 14px;
  display: inline-block;
  border-radius: 5px;
  padding: 5px 20px;
  color: #fff;
}
.docsimg{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
