/* -----header----- */
.dbheader {
    height: 80px;
    position: fixed;
    z-index: 5;
    width: 100%;
    left: 0;
    top: 0;
    background: #ffffff;
    display: flex;
    box-shadow: 0 0 3px #a5a5a5 inset;
}

.dbHeadleft {
    width: 300px;
    background: #1B1F2F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dbHeadleft img {
    margin: 0 5px;
    width: 70px;
}

.dbHeadRight {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
}

.searchBar {
    flex: 1;
    border-left: 1px solid #C4D0DA;
    border-right: 1px solid #C4D0DA;
    margin-right: 20px;
    position: relative;
}

.searchBar button {
    position: absolute;
    z-index: 9;
    right: 25px;
    top: 3px;
    color: #A8A8C0;
    font-size: 22px;
    background: #fff;
    border: none;
    outline: none;
    padding: 0;
}

.searchBar button:hover,
.searchBar button:focus,
.searchBar button:active {
    background-color: #fff !important;
    border: none;
    outline: none;
    box-shadow: none !important;
    color: #0f87ff !important;
}

.searchBar input[type="text"] {
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    background: #fff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #7681A8;
    box-shadow: none;
    padding-left: 25px;
}

.notifyBar {
    margin-right: 30px;
    margin-left: 20px;
    position: relative;
    font-size: 30px;
    color: #CFD3D7;
}

.notifyBar .dropdown {
    position: absolute;
    right: -10px;
    top: -10px;
}

.notifyBar button {
    background: #F34D4A;
    border-radius: 100px;
    width: 23px;
    height: 23px;
    color: #fff;
    padding: 3px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    border: none;
    outline: none;
}

.notifyBar .dropdown-menu {
    min-width: 300px;
    left: auto;
    right: -30px;
    top: 33px !important;
    border: none;
    box-shadow: 0 0 8px #5a6078;
}

.usrImg img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    border-radius: 100px;
    border: 2px solid #fff;
    box-shadow: 0 0 2px 2px #bdc5d5;
}

.usrSec .dropdown-toggle::after {
    display: none;
}

header .navbar-brand img {}

.navNewtop {
    display: flex;
}

.usrSec .dropdown-menu {
    background: #29304A;
}

.usrSec .dropdown-menu a {
    color: #fff;
    font-size: 14px;
}

.usrSec .dropdown-menu a:hover {
    background: transparent;
    color: #edb362;
}

.usrSec {
    margin-top: -3px;
}

.notifyBar .dropdown-toggle::after {
    display: none;
}

.loginFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: rgba(0,0,0,0.2);
    width: 100%;
    /* position: absolute;
    left: 0;
    bottom: 0; */
}
.loginFooterNew{
    position: absolute;
    left: 0;
    bottom: 0;
}
.loginFooter a{
    font-size: 16px;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
}
.loginFooter a:hover{
    color: #3d4ec6;
}
.downloadicon{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.downloadicon img{
    width: 33px;
    margin: 0 5px;
    border-radius: 50px;
    padding: 3px;
    background: #fff;
    border: 2px solid transparent;
}
.nopdnnew{
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.downloadicon img:hover{
    border: 2px solid #000;
    
}
.dnLink{
    color: #fff;
}

.announceNotify {
    width: 100%;
    padding: 0 20px;
}

.announceBlock {
    border-bottom: 1px solid #DEE5EB;
    padding: 15px 0;
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #7E81A5;
    cursor: default;
}

.announceBlock i {
    margin-top: 3px;
}

.anb {
    padding-left: 10px;
}

.anb p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #7E81A5;
}

.anb span {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #88889A;
}

.announceBlock:hover i {
    color: #F34D4A;
}

.announceBlock:hover p {
    color: #2B2D42;
}

.announceBlock:hover span {
    color: #4E4E5B;
}


.viewbtn {
    height: 40px;
    padding: 5px 15px!important;
    min-width: inherit!important;
}




/* ----------left-pannel-start----------- */

.dbMainbase {
    display: flex;
    /*    height: 100%;*/
/*    padding: 80px;*/
    min-height: calc(100vh - 60px);
    padding: 30px 0;
}

.dbLeftpannel {
    /*    width: 300px;*/
    background: #fff;
    border-radius: 20px;
}
.dbLeftInn{
    display: flex;
    flex-direction: column;    
    padding: 20px 20px 10px 20px;
    height: 100%;
}
.navbar::-webkit-scrollbar {
    width: 5px;
		height:5px;
    background:#f3f4ff;
	 border-radius: 15px;
}

.navbar::-webkit-scrollbar-track {
    border-radius: 15px;
}

.navbar::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background:#3D4EC6;
}

.sidenav {
    display: flex;
    flex-direction: column !important;
    width: 100%;
    text-align: center;
}

.sideBtn {
    display: none;
}

.closebtn {
    display: none;
}

.navbar {
    padding: 15px 0 0 0;
/*    background: #29304A;*/
    overflow: auto;
    height: 100%;
    align-items: flex-start;
}

.navbar-nav li {
    padding: 3px 0;
    display: block;
/*    border-left: 3px solid transparent;*/
    margin-bottom: 3px;
    border-radius: 10px;
    overflow: hidden;
}

.navbar-nav li a {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: #A6ABC2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 5px;
}

/*
.navbar-nav li:hover,
.navbar-nav li.active {
    border-left: 3px solid #F73B56;
}
*/

.navbar-nav li:hover > a,
.navbar-nav li.active > a {
/*    color: #1B1F2D;*/
/*    filter: brightness(0) invert(1);*/
        background: #3D4EC6;
    box-shadow: 0px 2px 5px rgb(61 78 198 / 38%);
    border-radius: 10px;
    color: #fff;
}
.navbar-nav li:hover > a img,
.navbar-nav li.active > a img{
    filter: invert(231%) sepia(0%) saturate(90000%) hue-rotate(233deg) brightness(138%) contrast(101%);
}

.navbar-nav li a img {
    margin-right: 10px;
}

.navbar-nav .nav-link-show .fa-caret-down,
.navbar-nav .fa-caret-up {
    display: none;
}

.navbar-nav .nav-link-show .fa-caret-up {
    display: inline-block;
}

.navbar-nav ul li,
.navbar-nav ul li:hover {
    border-left: 0;
    padding-left: 40px;
}

.leftPannelFooter {
    text-align: center;
    border-top: 1px solid #DDDCDC;
    margin-top: 20px;
}

.leftPannelFooter p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    color: #A0C4DD;
    padding-top: 10px;
}

.leftPannelFooter i {
    font-size: 22px;
    line-height: 23px;
    font-weight: 400;
    color: #7B9FB7;
    margin: 0 5px;
}

.leftPannelFooter a:hover i {
    color: #fff;
}
.dblogo{
    padding-bottom: 15px;
    cursor: pointer;
}
.dblogo h1{
    font-size: 23px;
    line-height: 25px;
}
.dblogo img{
    width: 50px!important;
}
.dblogo p{
    font-size: 16px!important;
}
.reminder{
    position: relative;
    display: inline-block;
}
.noticircle{
    display: inline-flex;
    width: 13px;
    height: 13px;
    border-radius: 50px;
    padding: 2px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 300;
    line-height: 10px;
    color: #fff;
    background: #FF4747;
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 0;
}

/* ----------left-pannel-end----------- */

/* ----------right-pannel-start----------- */
.noteini{
    position: relative;
    display: inline-block;
}

.dbRight {
    /*    flex: 1;*/
    padding: 0px 15px;
    width: calc(100% - 350px);
}

.dbRight h2 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 500;
}
.centerAlign{
    text-align: center;
}
.stickyName{
    /* position: fixed;
    width: calc(100% - 404px);
    box-sizing: border-box;
    left: 28%;
    z-index: 9; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9;
}
.happyEvnt{
    display: flex;
    align-items: center;
    justify-content: space-between;
/*    background: #3D4EC6;*/
    border-radius: 15px;
    background: #3D4EC6 url("../images/maskgroup.png") 100% 0 no-repeat;
    padding: 15px 20px;
    margin-bottom: 15px;
    background-size: contain;
}
.happyEvnt h4, .happyEvnt h4 a{
    color: #fff;
    font-size: 26px;
    font-weight: 600
}
.happyEvnt h4 a:hover{
    color: #000;
}
.happyEvnt p{
    color: #fff;
    font-size: 16px;
    margin: 0;
}
.evntbtns{
    padding-bottom: 20px;
}
.evntbtns button{
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none!important;
    padding: 5px 15px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    color: #1B1F2D;
}
.evntbtns button:hover{
    background: #3D4EC6;
    color: #fff;
}
.evntbtns button img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;
}
.commonButton{
    border: none;
    background: #3D4EC6;
    box-shadow: 0px 24px 64px rgba(61, 78, 198, 0.42);
    border-radius: 10px;
    outline: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    min-width: 100px;
    padding: 5px 25px;
    min-height: 55px;
    min-width: 160px;
}
.commonButton:hover{
    background: #333;
}
.addMeditop{
    display: flex;
    padding-bottom: 15px;
}
.addMeditop .form-control{
    appearance:auto;
    width: 200px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #A6ABC2;
    background: transparent;
    height: 40px;
}
.moreField{
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 15px;
}
.morefieldTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}
.moreField h6{
    font-weight: 500;
}
.morefieldTop i{
    font-size: 18px;
}
.morefieldTop i:hover{
    color: #ff0000;
}
.moreField .form-control{
    height: 44px;
}
.moreField .form-control::placeholder{
    color: #212529;
}
.moreField input[type="date"]{
    display: flex;
    flex-direction: row-reverse;
}
.form-control{
    box-shadow: none!important;
}
.moreField textarea{
    height: 100px!important;
    resize: none;
}
.medicineAdd{
    padding-top: 15px;
}
.medicineAdd button {
    border: none;
    outline: none;
    border-radius: 10px;
    width: 100%;
    padding: 5px 20px;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: var(--white-font);
    background: var(--cat-heading);
    box-shadow: 0px 24px 64px rgb(61 78 198 / 42%);
    height: 60px;
}
.medicineAdd button:hover{
        background: #333;
}
.fullWdth{
    width: 100%!important;
}
.clientMediNoteblock{
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
    /* border-bottom: 1px solid #858B9E;
    margin-bottom: 20px; */
}
.clientMediNoteblock:last-child{
    border-bottom: 0;
    margin-bottom: 0;
}
.cnNumber{
    display: inline-block;
    background: #E5E9FF;
    border-radius: 5px;
    text-align: center;
    color: #3D4EC6;
    width: 35px;
    flex: none;
    margin-right: 10px;
    font-size: 20px;
}
.cmnImgbg{
    display: flex;
    flex-wrap: wrap;
}
.cmnImgbg img{
    margin-right: 10px;
    max-width: 100px;
    height: 100px;
    border-radius: 15px;
/*    margin-bottom: 10px;*/
    padding: 0;
    border: none;
    object-fit: cover;  
}
.cmAddbtn{
  width: 100px;
    height: 100px;
    border-radius: 15px;  
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #3D4EC6;
    background: #E5E9FF;
    cursor: pointer;
}
.dashProgicon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 2px solid #3D4EC6;
    padding-top: 5px;
    border-radius: 50px;
    font-size: 18px;
    line-height: 18px;
    color: #3D4EC6;
    position: absolute;
    left: 15px;
    top: 17px;
}
.evntbtns button:hover .dashProgicon {
    border: 2px solid white;
    color: #fff;
}

/* --------file-upload-start-------- */
.fileUploadInput {
  display: grid;
  grid-gap: 10px;
  position: relative;
  z-index: 1;
}
.fileUploadInput label {
  display: flex;
  align-items: center;
  color: setColor(primary, 0.5);
  background: setColor(white);
  transition: 0.4s ease;
/*  font-family: arial, sans-serif;*/
  font-size: 0.75em;
  font-weight: regular;
}
.fileUploadInput input {
  position: relative;
  z-index: 1;
  padding: 0 gap(m);
  width: 100%;
  height: 50px;
  border: 1px solid #ced4da;
  border-radius: 3px;
/*  font-family: arial, sans-serif;*/
  font-size: 1rem;
  font-weight: regular;
}
.fileUploadInput input[type=file] {
  padding: 0 gap(m);
    font-size: 0;
}
.fileUploadInput label{
    display: inline-block;
    position: absolute;
    left: 20px;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 50px;
    color: #212529;
    width: 90%;
    text-align: left;
    
    top: 10px;
    
    font-size: 14px;
}
.fileUploadInput input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
  margin-left: 10px;
  padding: 0;
  height: 50px;
  width: 0px;
}
.fileUploadInput button {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 120px;
  line-height: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
  background-color: #66C4E1;
  border-radius: 0 3px 3px 0;
/*  font-family: arial, sans-serif;*/
  font-size: 15px;
  font-weight: 400;
    border: none;
    outline: none;
    border-radius: 5px;
}
@-moz-document url-prefix() {
  .fileUploadInput button {
    display: none;
  }
}
/* --------file-upload-end-------- */

.file {
  position: relative;
  max-width: 22.5rem;
  font-size: 1.0625rem;
  font-weight: 600;
}
.file__input, .file__value {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  margin-bottom: 0.875rem;
  color: rgba(255, 255, 255, 0.3);
  padding: 0.9375rem 1.0625rem;
}
.file__input--file {
  position: absolute;
  opacity: 0;
}
.file__input--label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;
    color: #1B1F2D;
    font-size: 18px;
    font-weight: 500;
}
/*
.file__input--label:after {
  content: attr(data-text-btn);
  border-radius: 3px;
  background-color: #536480;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.18);
  padding: 0.9375rem 1.0625rem;
  margin: -0.9375rem -1.0625rem;
  color: white;
  cursor: pointer;
}
*/
.file__value {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: #545C7A;
  margin-right: 10px;
  background: #fff;
    border-radius: 12px;
    padding: 8px 15px;
}
.file__value:hover:after {
  color: red;
}
.file__value:after {
  content: "X";
  cursor: pointer;
    font-size: 12px;
    color: #3D4EC6;
    margin-left: 20px;
}
.file__value:after:hover {
  color: white;
}
.file__remove {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
}
.upFile{
    
}
.upFile .file{
    width: 100%;
    max-width: inherit;    
}
.upfileInput{
    width: 100%;
    border: 3px dashed #858B9E;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    margin-bottom: 10px;
}
.secureOnly{
    padding: 5px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.secureOnly h6{
    color: #1B1F2D;
    font-size: 18px;
    font-weight: 500;
}
.secureOnly strong{
   color: #858B9E;
    font-size: 18px;
    font-weight: 500; 
}
.editIcon{
    font-size: 20px;
    color: #fff;
}
.personalInfo{
    background: #fff;
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 20px;
    height: calc(100% - 36px);
}
.personalInfo p{
    color: #1B1F2D;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}
.doctorInfo{
    background: #3D4EC6 url("../images/maskb.png") 100% 0 no-repeat;
/*    background-size: contain;*/
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 20px;
    height: calc(100% - 36px);
}
.doctorInfo h3{
    color: #fff;
    padding-bottom: 10px;
}
.doctorInfo p{
    color: #fff;
    font-size: 19px;
    margin-bottom: 5px;
}
.doCardbg{
    display: flex;
    flex-wrap: wrap;
/*    justify-content: space-between;*/
    margin-left: -8px;
    margin-right: -8px;
}
.doCard{
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    width: calc(33% - 16px);
    margin: 0 8px 8px;
}
.cls{
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 5px;
    font-size: 15px;
    color: #3D4EC6;
}
.pdfbg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: #545C7A;
    font-weight: 400;
}
.pdfbg img{
    margin-right: 6px;
    width: 40px;
}
.doCard button{
    height: 40px;
    padding: 5px 15px;
    min-width: inherit;
}

.reminderTop {
    padding: 20px;
}
.reminderTop span{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.reminderBlock{
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    cursor: context-menu;
}
.reminderBlock img{
    filter: invert(108%) sepia(161%) saturate(1383%) hue-rotate(218deg) brightness(99%) contrast(97%);
    margin-right: 10px;
}
.reminderBlock p{
    margin-bottom: 10px;
}
.dmbg{
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 3px solid #66C4E1;
    background: #3D4EC6;
    color: #fff;
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}
.dmbg:hover{
    color: #000;
    box-shadow: 0 0 5px #66c4e1;
    background: #fff;
}
.dmbg1{
    display: inline-flex;
    /* width: 100px;
    height: 50px; */
    padding: 5px 10px 1px;
    border-radius: 100px;
    border: 3px solid #66C4E1;
    background: #3D4EC6;
    color: #fff;
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}
.dmTop{
    background:#3D4EC6 url("../images/maskgroup2.png") 0 0 no-repeat;
}
.dmTop span{
    color: #fff;
}
.clientMedfootbutton{
    display: flex;
    justify-content: space-between;
}
.clientMedfootbutton button{
    width: 32%;
}
.btnVisit{
    background: #333;
}
.cmBg{
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    overflow: auto;
}
.cmBg table{
    width: 100%;
    min-width: 600px;
}
.cmBg table th{
    font-size: 20px;
    font-weight: 600;
    color: #1B1F2D;
    padding: 10px;
    text-align: center;
}
.cmBg table th .cmchart{
    border: 2px solid transparent;
    border-radius: 50px;
    width: 35px;
}
.cmBg table td{
    font-size: 20px;
    font-weight: 600;
    color: #1B1F2D;
    padding: 15px 10px 10px 10px;
    border-top: 1px solid #e1e1e1;
    text-align: center;
    vertical-align: top;
}
.cmBg table th:nth-child(1), .cmBg table td:nth-child(1){
    width: 50px;
    text-align: left;
}
.cmBg table th:nth-child(2), .cmBg table td:nth-child(2){
    text-align: left;
    width: 198px;
}
.cmBg table th:nth-child(5){
    border-radius: 20px 20px 0 0;
}
.cmBg table th:nth-child(5), .cmBg table td:nth-child(5){
    background: #edeffa;
    
}
.cmBg table tr:last-child td:nth-child(5){
    border-radius: 0 0 20px 20px ;
}
.cmBg table th:last-child{
    width: 50px;
}
.cmBg table td:last-child{
   /* background: #edeffa;  */
}
.cmBg table tr:last-child td:last-child{
    /* background: #edeffa;
    border-radius: 0 0 20px 20px; */
}
.cmchart{
    position: relative;
    display: inline-block;
}
.cmchart span, .cmchart a{
    display: inline-flex;
    width: 13px;
    height: 13px;
    border-radius: 50px;
    padding: 2px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 300;
    line-height: 10px;
    color: #fff;
    background: #FF4747;
    position: absolute;
    z-index: 1;
    right: -8px;
    top: 0;
}
.cmchart a:hover{
    background: #3d4ec6;
}
.indRight{
    right: inherit;
    left: -8px;
    background-color: #33AF47 !important;
}
.cmMediblock{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
    min-height: 80px;
}
.cmMediblock a:hover small{
    color: #3d4ec6;
}
.cmMediblock small{
    font-size: 13px;
    font-weight: 400;
    color: #1B1F2D;
}
.cmMediStatement{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: #33AF47;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    
}
.cmNotes{
    display: inline-flex;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    padding: 2px;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    color: #fff;
    background: #66C4E1;
    position: absolute;
    z-index: 1;
    right: -5px;
    top: -3px;
}
.noMedicine .cmMediStatement{
    border: 2px solid #33AF47;
    background: transparent;
    font-size: 0;
}
.noMedicine .cmNotes, .noMedicine small{
    /* display: none; */
}
.caltime{
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    padding-right: 10px;
}
.caltime img{
    margin-right: 6px;
    width: 22px;
}
.caltimeMain{
    display: flex;
    align-items: center;
}
.medicationDetlbg{
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    overflow: auto;
    margin-bottom: 20px;
    position: relative;
}
.medicationDetlbg p{
    color: #545C7A;
    font-size: 18px;
}
.medicationDetlBtm{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.timeshow{
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 15px;
}
.edit{
    position: absolute;
    right: 25px;
    top: 50px;
    font-size: 15px;
}
.editmfd{
    position: absolute;
    right: 30px;
    top: 80px;
    font-size: 15px;
}
.detailstype{
    position: absolute;
    right: 175px;
    top: 10px;
    font-size: 15px;
}
.mdbLeft{
    width: 48%;
}
.mdbLeft img{
    width: 100%;
    border-radius: 20px;
}
.mdbRight{
   width: 48%;
    border: 1px solid #bbbeca;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.mdbRight img{
    margin-right: 10px;
}
.mdbRight h6{
    font-size: 20px;
    font-weight: 600;
}
.mdbRight span{
    font-size: 15px;
    font-weight: 400;
    color: #545C7A;
}
.mfp-zoom-out-cur .dbMainbase{
    -webkit-filter: blur(8px);
    filter: blur(8px);
}
.addCharts{
    min-width: 100%;
    min-height: 56px;
    max-height: 56px;
    font-size: 18px;
}
.addCharts:hover{
    background: #3D4EC6;
    color: #fff;
}
.mfdTop{
    display: flex;
    padding-bottom: 15px;
    align-items: center;
    justify-content: space-between;
    color: #B2B7CB;
}
.mfdHe{
    border: 3px solid #3D4EC6;
    color: #3D4EC6;
    background: transparent;
    width: 43px;
    height: 43px;
}
.enterMfd{
    padding-bottom: 20px;
}
.enterMfd .form-control{
    border: 1px solid #A6ABC2;
    border-radius: 10px;
    padding: 15px;
    min-height: 200px;
    resize: none;
    background: transparent;
}
.notiOnline{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background: #3D4EC6;
}
.notiOffline{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background: #C8CCDD;
}
.passThrough{
    opacity: 0.5;
}
.subusr{
    display: flex;
    align-items: center;
}
.subusrHe{
    border: 3px solid #fff;
    color: #fff;
    background: transparent;
    width: 55px;
    height: 55px;
    margin-right: 15px;
}
.subusrUpload{
    position: relative;
    margin-right: 10px; 
    position: relative;
}
.subusrUpload img{
    width: 53px;
    height: 53px;
    border-radius: 100px;
    object-fit: cover;
}
.subusrUpload span{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #3D4EC6;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    box-shadow: 0 0 5px #000;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #fff;
}
.masterHdn h4{
    font-size: 22px;
    line-height: 24px;
}
.mastertopSection{
    align-items: flex-start;
}
.masterStatusToggle{
    display: flex;
    align-items: center;
    padding-top: 5px;
}
.masterStatusToggle strong{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.masterStatusToggle .btn-toggle{
    border-radius: 70px;
    background: #6370cf;
    margin-left: 10px;
    overflow: hidden;
}
.masterStatusToggle .btn-toggle input{
    width: 50%;
    position: absolute;
    z-index: 1;
    left: 0;
    height: 100%;
    opacity: 0;
}
.masterStatusToggle .btn-toggle input:nth-child(2){
    left: inherit;
    right: 0;
}
.masterStatusToggle button{
    font-size: 18px;
    color: #fff;
    padding: 8px 25px;
    border-radius: 70px!important;
    box-shadow: none!important;
    border: none;
}
.masterStatusToggle button.active{
    background: #fff;
    color: #3D4EC6;
}

.masterStatusToggle button[disabled]{
   opacity: 1;
}

.masterProfButton button, .masterProfButton a{
    width:49%;
    display:inline-block;
    text-align:center;
    line-height: 45px;
    }
    .masterProfButton a:hover{
        color: #fff;
    }
.autoHeight{
    height: auto;
}
.cpevent{
    align-items: flex-start;
}
.dropimg img{
    width: 22px;
    margin-left: 6px;
}
.editMasterForm .form-control{
    background: transparent;
    border-radius: 7px;
    height: 43px;
    appearance: auto;
}
.editMasterForm .form-control::placeholder{
    color: #212529;
}
.emUploadImg{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.imageUpload{
    position: relative;
    width: 130px;
    text-align: center;
}
.imageUpload button{
    position: absolute;
    z-index: 1;
    right: 25px;
    top: 0;
    width: auto;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: #ff0000;
}
.imageUpload img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
    border: 3px dashed #545C7A;
}
.uploadInput{
    position: absolute;
    right: 21px;
    bottom: 0;
    color: #fff;
    display: inline-flex;
/*    align-items: center;*/
    justify-content: center;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 0 0 5px #606060;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    background: #66C4E1;
}
.uploadInput input{
    width: 100%;
    opacity: 0;
    height: 15px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.uploadInput::after{
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #1FB5EB;
    font-weight: 400;
    cursor: pointer;
}
.savebtn{
      display: inline-flex;
    align-items: center;
    justify-content: center;
}
.meddoc{
    background: #EBEDFF;
}
.pickDate .form-control{
    background: url("../images/calendar.png") 98% 10px no-repeat;
    background-size: 20px;
}


.modalBase input[type="file"]{
    font-size: 15px;
    margin-top: 15px;
}
.modalBase button:hover{
    color: #fff;
}
.sbBack{
    display: flex;
    align-items: center;
}
.sbAngle{
    color: #fff;
    padding-right: 20px;
    cursor: pointer;
}
.cursorpoint{
    cursor: pointer;
}
.textareaheight{
    height: 100px!important;
    resize: none;
}
form p.text-danger{
    font-size: 17px;
}
.changePasswordInner{
    background: #fff;
    border-radius: 20px;
    padding: 50px 100px;
    overflow: auto;
    margin-bottom: 20px;
    text-align: center;
}
.changePasswordInner .form-control{
    height: 55px;
}

.addSubUsr button{
position:relative;
}
.addSubUsr button .delete{
    position: absolute;
    right: 15px;
    top: 15px;
}
.addSubUsr button:hover a{
text-decoration:none;
color:#fff;
}

.adddoctorform{
    text-align: right;
}

.adddoctorform label{
    display: inline-flex;
    width: auto;
    align-items: center;
    justify-content: center;
}

.addguardianform{
    text-align: right;
}

.addguardianform label{
    display: inline-flex;
    width: auto;
    align-items: center;
    justify-content: center;
}

.hasreminder{
    margin-left: 15px;
    color: #3bf3af;
    font-size: 16px;
    line-height: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.subpass{
    top: 9px;
}

.doctor label{
    color: #ff0000;
    font-size: 17px;
}
.newdoctor label{
    color: #ff0000;
    font-size: 17px;
}

.guardian label{
    color: #ff0000;
    font-size: 17px;
}
.newguardian label{
    color: #ff0000;
    font-size: 17px;
}

.editMasterForm label.error{
    color: #ff0000;
    font-size: 17px;
}

.addClntfile{
    width: 100%;
    max-width: 100%;
}
.addClntfile .upfileInput{
    padding: 0;
    border-radius: 0;
    border: 1px solid #ced4da;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 7px;
}
.addClntfile .file__input--file{
    width: 100%;
}
.addClntfile .file__input--label{
    background: #3D4EC6;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    padding: 10px 30px;
    border-radius: 4px;
}
.acl{
    padding-left: 20px;
    color: #32404e;
    font-weight: 500;
}
.testtip{
    position: relative;
}
.testtip:hover .alertSpan{
    display: inline-block;
}
.datePick{
    border: 2px solid green !important;
    border-radius: 50px;
    width: 35px;
}
.schSelect{
    background-color: #3D4EC6 !important;
}
.alertSpan{
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    bottom: 101%;
    background-color: #33AF47;
    color: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
}
.schedDetails{
    padding-top: 10px;
}
.subUsrlogincontainer{
    min-height: auto;
    height: auto;
    background: none;
    padding-top: 70px;
    padding-bottom: 0;
}
.subUsrchpasscontainer{
    min-height: auto;
    height: auto;
    background: none;
    padding-top: 25px;
    padding-bottom: 0;
}


/* ----------right-pannel-end----------- */


/* ----------Calendar-start----------- */
.greenTk{
    color: #12cd88;
    font-size: 24px;
    margin-left: 10px;
}
.warnTk{
   color: #12cd88;
    font-size: 24px;
    margin-left: 10px; 
}
.reminderdiv{
    display: flex;
    flex: 1;
}

.teacherCalendar{
    padding-top: 50px;
    position: relative;
    margin-bottom: 20px;
}

.teacherCalendar .datepicker{
    background: #3D4EC6;
    padding: 26px;
    border-radius: 15px;
    width: 100%;
    }
.teacherCalendar .datepicker table{
    width: 100%;
}

.teacherCalendar .datepicker thead tr:nth-child(1){
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
        display: inline-table;
}

.reminderCal .datepicker table tr td.day{
    color: #fff;
}
.reminderCal .datepicker table tr td.old, .reminderCal .datepicker table tr td.new {
    color: #79ceff;
}





.datepicker table {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;

  font-size: 13px;
  font-weight: 700;
}

.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
  background-color: transparent;
}
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
  background: #1B1F2D;
  cursor: pointer;
}
.datepicker table tr td.old,
.datepicker table tr td.new {
  color: #79ceff;
}
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
  background-color: #8493fd;
border-radius: 100px;
  color: #fff !important;
}
.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today:hover.disabled,
.datepicker table tr td.today.disabled.disabled,
.datepicker table tr td.today.disabled:hover.disabled,
.datepicker table tr td.today[disabled],
.datepicker table tr td.today:hover[disabled],
.datepicker table tr td.today.disabled[disabled],
.datepicker table tr td.today.disabled:hover[disabled] {
  background-color: #ff8c00;
}
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active {
  background-color: #fbf069 \9;
}
.datepicker table tr td.today:hover:hover {
  color: #000;
}
.datepicker table tr td.today.active:hover {
  color: #fff;
}
.datepicker table tr td.range,
.datepicker table tr td.range:hover,
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:hover {
  background: #eeeeee;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.datepicker table tr td.range.today,
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today.disabled:hover {
  background-color: #ff8c00;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today:hover:hover,
.datepicker table tr td.range.today.disabled:hover,
.datepicker table tr td.range.today.disabled:hover:hover,
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover.active,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today:hover.disabled,
.datepicker table tr td.range.today.disabled.disabled,
.datepicker table tr td.range.today.disabled:hover.disabled,
.datepicker table tr td.range.today[disabled],
.datepicker table tr td.range.today:hover[disabled],
.datepicker table tr td.range.today.disabled[disabled],
.datepicker table tr td.range.today.disabled:hover[disabled] {
  background-color: #f3e97a;
}
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover.active {
  background-color: #efe24b \9;
}
.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover {
  background-color: #ff8c00;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected:hover:hover,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected.disabled:hover:hover,
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:hover.active,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected:hover.disabled,
.datepicker table tr td.selected.disabled.disabled,
.datepicker table tr td.selected.disabled:hover.disabled,
.datepicker table tr td.selected[disabled],
.datepicker table tr td.selected:hover[disabled],
.datepicker table tr td.selected.disabled[disabled],
.datepicker table tr td.selected.disabled:hover[disabled] {
  background-color: #808080;
}
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:hover.active {
  background-color: #666666 \9;
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
  background-color: #ff4e4e;

  color: #fff !important;
}
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active {
  background-color: #003399 \9;
}
.datepicker table tr td span {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker table tr td span:hover {
  background: #eeeeee;
}
.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
  background-color: #ff8c00;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled] {
  background-color: #ff8c00;
}
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active {
  background-color: #003399 \9;
}
.datepicker table tr td span.old,
.datepicker table tr td span.new {
  color: #999999;
}
.datepicker th.datepicker-switch {
  width: 145px;
}
.datepicker thead tr:first-child th,
.datepicker tfoot tr th {
  cursor: pointer;
font-size: 16px;
  color: #313334;
}
.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover {
  background: #eeeeee;
}


.datepicker.dropdown-menu th,
.datepicker.datepicker-inline th,
.datepicker.dropdown-menu td,
.datepicker.datepicker-inline td {
  padding: 4px 5px;
    border-radius: 100px;
    width: 50px;
}

.datepicker .dow {

  border-bottom: 1px solid #50bfff;

  color: #fff;
  font-size: 13px;
    font-weight: 400;
}
.datepicker .day{
    font-weight: 400;
    /* color: #000!important; */
}

.datepicker-months .prev,
.datapicker-months .next,
.datepicker-years .prev,
.datepicker-years .next {
  width: 58px;
}

.datepicker-days tbody td:nth-child(6),
.datepicker-days tbody td:nth-child(7) {
  /* color: #fff; */
}
/* ----------Calendar-end----------- */

.archivedMedicineTable{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;   
}
.archivedMedicineTable table{
    width: 100%;
    background-color: #fff;
}
.archivedMedicineTable table tr th{
    padding: 5px 10px;
    font-size: 15px;
    text-align: center;  
    border-bottom: 1px solid #ccc; 
}
.archivedMedicineTable table tr th:nth-child(1){
  text-align: left;
}
.archivedMedicineTable table tr td{
    padding: 5px 10px;
    font-size: 13px;
    text-align: center;
    color: #545C7A;
}
.archivedMedicineTable table tr td:nth-child(1){
    text-align: left;
}

.btnFlex{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}
.btnFlex button{
    min-height: 35px;
    min-width: 60px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.docsimg{
    width: 200px;
    height: 200px;
    object-fit: cover;
}


/* -------------Overview-table-start------------- */
.overviewTablebg table th, .overviewTablebg table td{
    background-color: #fff!important;
    border-right: 1px solid #eee;
}
.overviewTablebg table th:first-child, .overviewTablebg table td:first-child{
    border-right: none!important;
}
.overviewTablebg table th:last-child, .overviewTablebg table td:last-child{
    border-right: none!important;
}
.overviewTablebg table th .cmchart{
    width: auto!important;
}
.overviewTablebg table td{
    font-size: 18px;
    line-height: 23px;
}
.overviewTablebg table tr > td:nth-child(2){
    position: sticky;
    left: 0;
    background-color: white !important; 
    z-index: 1;
  }
  .overviewTablebg table tr > td:nth-child(1){
    position: sticky;
    left: 0;
    background-color: white !important; 
    z-index: 1;
  }
  .overviewTablebg table thead{
  position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
  }

.overcustom{
    overflow:auto; 
    max-height:550px;
}
.overcustom::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
 
.overcustom::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
 
.overcustom::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid #3D4EC6 ;
}

.overcustom::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #3D4EC6;
}

.overcustom::-webkit-scrollbar-track {
    border-radius: 15px;
}

/* -------------Overview-table-end------------- */

.medCustom{
    width: 100%;
}
.signBg{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}
.sign{
    width: 100px;
    height: 60px;
    /* background-color: #eee; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    border: 1px solid #b4b4b4;
}
.sign img{
    width: 95%;
}
.signBg em{
    font-size: 16px;
}

@media (max-width: 1199px) {
    .doCard{
        flex-direction: column;
    }
    .pdfbg{
        flex-direction: column;
        padding-bottom: 10px;
    }
    .pdfbg img{
        margin-right: 0;
        margin-bottom: 5px;
    }
}
@media (min-width: 992px) {
    .dbLeftpannel {
        width: 350px !important;
    }

    .dbLeftpannel {
        height: calc(100vh - 60px);
    }

}

@media(max-width:991px) {
    .dbHeadleft img {
        width: 60px;
    }

    .dbHeadleft {
        width: auto;
    }

    .dbMainbase {
        display: block;
    }

    .sideBtn {
        display: block;
        border: none;
        outline: none;
        background: #505fcc;
        color: #fff;
        font-size: 20px;
        line-height: 20px;
        padding: 5px;
        width: 27px;
        position: fixed;
        left: 0;
        z-index: 9;
        top: 0;
    }

    .dbLeftpannel {
        position: fixed;
        z-index: 9;
        left: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 0;
        overflow: hidden;
        transition: all 0.3s;
        max-width: 320px;
        border-radius: 0 15px 15px 0;
        box-shadow: 0 0 5px #ccc;
    }
    .dbLeftInn{
        padding: 20px;
    }

    .dbRight {
        padding-top: 50px;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    .closebtn {
        display: block;
        position: absolute;
        z-index: 9;
        right: 0;
        top: 0;
        background: #ff0000;
        font-size: 22px;
        line-height: 22px;
        color: #fff;
        padding: 5px 10px;
        border-radius: 0 0 0 10px;
    }
}

@media(max-width:767px) {
    .loginFooterNew{
        flex-direction: column;
    }
}

@media(max-width:600px) {
    .respFullwdth{
        width: 100%;
    }
    .cmnImgbg img{
        max-width: 80px;
        height: 80px;
    }
    .cmAddbtn{
        width: 80px;
        height: 80px;
    }
    .dmTop{
        flex-direction: column;
    }
    .medicationDetlBtm{
        flex-direction: column;
    }
    .mdbLeft{
        width: 100%;
        margin-bottom: 15px;
    }
    .mdbRight{
        width: 100%;
    }
    .mdbRight img{
        width: 70px;
    }
    .clientMedfootbutton{
        flex-direction: column;
    }
    .clientMedfootbutton button{
        width: 100%;
        margin-bottom: 10px;
    }
}

@media(max-width:480px) {
    .changePasswordInner{
        padding: 30px 20px;
    }
    .masterStatusToggle{
        flex-direction: column;
        align-items: flex-start;
    }
    .masterStatusToggle .btn-toggle{
        margin-left: 0;
    }
    .masterStatusToggle button{
        padding: 8px 17px;
    }
    .masterProfButton button{
        padding: 5px 15px;
        min-width: auto;
    }
    .doCard{
        width: 49%;
    }
    .secureOnly{
        flex-direction: column;
    }
    .upFile .file{
        text-align: center;
    }
    .file__value{
        padding: 8px 10px;
    }

    
}
