@media screen and (max-width: 991px) {}


@media(max-width:1399px) {}

@media(max-width:1199px) {}

@media(max-width:991px) {


/*
    h1 {
        font-size: 38px;
        line-height: 45px;
    }

    h2 {
        font-size: 34px;
        line-height: 40px;
    }

    h3 {
        font-size: 32px;
        line-height: 38px;
    }

    h4 {
        font-size: 28px;
        line-height: 35px;
    }

    h5 {
        font-size: 18px;
        line-height: 25px;
    }
*/
}

@media(max-width:767px) {

    p,
    span,
    ul,
    li,
    ol,
    div,
    body,
    strong,
    input,
    select,
    textarea,
    a {
        font-size: 16px;
    }


    h1 {
        font-size: 26px;
        line-height: 32px;
    }

    h2 {
        font-size: 26px;
        line-height: 32px;
    }

    h3 {
        font-size: 22px;
        line-height: 30px;
    }

    h4 {
        font-size: 20px;
        line-height: 26px;
    }

    h5 {
        font-size: 18px;
        line-height: 24px;
    }

    h6 {
        font-size: 16px;
        line-height: 22px;
    }
    .loginContainer{
        padding-top: 60px;
    }
}

@media(max-width:700px) {}

@media(max-width: 600px) {}

@media(max-width:575px) {}

@media(max-width:480px) {
    h2 {
        font-size: 20px;
        line-height: 26px;
    }
    .loginContainer p{
        font-size: 18px;
        line-height: 23px;
    }
}

@media(max-width:382px) {}
