@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    /*
    font-family: 'Nunito',
    sans-serif;
    font-family: 'Poppins',
    sans-serif;
*/
    font-family: var(--josef-sans);
    background: linear-gradient(180deg, #EBEDFF 0%, #E4E6F7 100%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

:root {
    --cat-heading: #3D4EC6;
    --common-color: #1B1F2D;
    --login-para: #545C7A;
    --hvr-color: #333333;
    --hvrbg-color: #333333;
    --white-font: #ffffff;
    --josef-sans: 'Josefin Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--josef-sans);
}

h1 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: var(--cat-heading);
}

h2 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: var(--common-color);
}

h3 {
    font-size: 26px;
    line-height: 46px;
    font-weight: 600;
    color: var(--common-color);
}

h4 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    color: var(--common-color);
}

h5 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    color: var(--common-color);
}

h6 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: var(--common-color);
}

p,
ul,
li,
ol,
body,
strong,
input,
select,
textarea,
a, button {
     font-family: var(--josef-sans);
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #1B1F2D;
    text-decoration: none;
}

p {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

.customContainer {
    max-width: 1700px;
}

/* --btn-- */

/*
.btn-white {
    padding: 25px 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--iz-active);
    background: var(--iz-white);
    border-radius: 0;
    transition: 0.3s;
}
*/


.commonLogoSection{
    display: flex;
    align-items: center;
    text-align: left;
}
.commonLogoSection img{
    width: 60px;
    margin-right: 6px;
}
.commonLogoSection h1{
    line-height: 30px
}
.commonLogoSection p{
    margin: 0;
    font-size: 18px;
    line-height: 20px;
}

/* -------------------Splash-screen-start---------------- */
.splashLogo{
    position: relative;
    top: -100px;
}
.splashContainer{
    height: 100vh;
    background: linear-gradient(180deg, #EBEDFF 0%, #E4E6F7 100%);
    background-image: url("../images/splashbg.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.appVersion{
    font-family: var(--josef-sans);
    color: var(--common-color);
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}

/* -------------------Splash-screen-end---------------- */


/* -------------------Login-start---------------- */
.loginContainer{
    min-height: 100vh;
/*    background: linear-gradient(180deg, #EBEDFF 36.12%, rgba(235, 237, 255, 0) 100%);*/
    background-color: #e3e9f7;
    background-image: url("../images/loginbg.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    text-align: center;
}
.loginLogo{
    padding-bottom: 30px;
}
.loginContainer p{
    font-size: 20px;
    line-height: 25px;
    color: var(--login-para);
    font-weight: 400;
}
.loginContainer form{
    max-width: 600px;
    width: 100%;
}
.loginContainer .form-control{
    border: 1px solid #545C7A;
    border-radius: 10px;
    height: 60px;
    background: transparent;
    padding: 5px 25px;
    font-size: 20px;
    font-weight: 500;
    color: var(--common-color);
    box-shadow: none!important;
}
.loginContainer .form-control::placeholder{
    color: var(--common-color);
}
.showhidePwd{
    position: relative;
}
.showpass{
    position: absolute;
    display: inline-block;
    right: 20px;
    top: 17px;
    z-index: 1;
}
.forgetPass{
    text-align: right;
}
.forgetPass a{
    color: var(--cat-heading);
    font-size: 20px;
}
.forgetPass a:hover{
    color: var(--hvr-color);
}
.signup a{
    color: var(--cat-heading);
    font-size: 20px;
}
.signup a:hover{
    color: var(--hvr-color);
}
.loginContainer button{
    border: none;
    outline: none;
    border-radius: 10px;
    width: 100%;
    padding: 5px 20px;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: var(--white-font);
    background: var(--cat-heading);
    box-shadow: 0px 24px 64px rgba(61, 78, 198, 0.42);
    height: 60px;
}
.loginContainer button:hover{
    background: var(--hvrbg-color);
}
.subuserLoginbg{
    background-image: url("../images/subloginbg.jpg"); 
}
/* -------------------Login-end---------------- */


/* -------------------Forgot-pass-start---------------- */
.forgotpassicon {
    padding-bottom: 30px;
}
.forgotpassicon img{
    width: 130px;
}
.digit-group{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.digit-group input{
    border: 1px solid #545C7A;
    border-radius: 10px;
    width: 43px;
    height: 50px;
    padding: 5px;
    text-align: center;
    background: transparent;
    margin: 0 5px;   
    font-size: 20px;
    font-weight: 500;
    color: var(--common-color);
    outline: none;
}
.digit-group input:focus-visible{
    border: 1px solid #3D4EC6;
}
/* -------------------Forgot-pass-end---------------- */

.alreadyAccount{
    color: var(--common-color)!important;
    padding-top: 20px;
}
.alreadyAccount a{
    color: var(--cat-heading);
}
.fileUploadInput.signupUpload label{
    top: 16px;
    font-size: 20px;
}
.fileUploadInput.signupUpload button{
    height: 60px;
    box-shadow: none;
    border-radius: 10px;
}
